<!DOCTYPE html>
<html class="{{ partial "class.html" . -}}" lang="pl">
<head>
    {{- partial "core/head.html" . -}}
    {{- block "resources" . -}}
    {{- partialCached "core/resources.html" . -}}
    {{- end -}}
    {{- block "head" . }}{{- end }}
</head>
{{ partial "google_analytics.html" . }}
    <body>
        {{- partial "header.html" . -}}
        {{- block "main" . }}{{- end }}
        {{- partialCached "footer.html" . -}}
        {{- if .Site.Params.DebugMenu -}}
        {{- partial "debug/debug.html" (dict "context" .) -}}
        {{- end -}}
    </body>
</html>
